* {
  box-sizing: border-box;
}
body {
  margin: 0;
  /* height: 500vh;
  background: linear-gradient(0deg, rgba(255,29,88,1) 0%, rgba(247,89,144,1) 15%, rgba(255,246,133,1) 25%, rgba(0,221,255,1) 35%, rgba(0,73,215,1) 100%); */
}
.static {
  width: 400px;
  height: 400px;
  position: static; /* default position*/
  background-color: gold;
  border: 5px solid #333333;
  float: left;
  margin: 50px 25px;
}
.relative {
  width: 400px;
  height: 400px;
  position: relative;
  top: 100px;
  left: 100px;
  background-color: tomato;
  border: 5px solid #333333;
  float: left;
  margin: 50px 25px;
}
.absolute {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 100px;
  left: 100px;
  background-color: dodgerblue;
  border: 5px solid #333333;
}
.fixed {
  width: 400px;
  height: 400px;
  position: fixed;
  bottom: 0;
  left: calc(50vw - 200px);
  background-color: seagreen;
  border: 5px solid #333333;
}

.no-position {
  width: 50%;
  height: 600px;
  margin: 50px auto;
  background-color: gold;
  border: 5px solid #333333;
}
.containing-block {
  width: 50%;
  height: 600px;
  margin: 50px auto;
  position: relative;
  background-color: tomato;
  border: 5px solid #333333;
}
