* {
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow-x: hidden;
}
main {
  width: 125vw;
  margin: -100px -12.5vw;
}
div {
  float: left;
}
.shape1, .shape2, .shape3, .shape4 {
  width: 100px;
  height: 100px;
  background-color: red;
  margin: -15px;
  opacity: .5;
}
.shape2 {
  background-color: yellow;
}
.shape3 {
  background-color: blue;
}
.shape4 {
  background-color: black;
}
.shape5 {

}
